@import '@/styles/main.scss';

.item {
    max-width: 100%;
    padding: 8px 16px;
    display: grid;
    grid-template-columns: 80% 20%;
    align-items: center;
    column-gap: 20px;
    border-bottom: 1px solid gray;
    font-size: 24px;
    
    &_done .label {
        text-decoration: line-through;
    }

    &_important .label {
        color: $primary-color;
        font-weight: 700;
    }
}

.actions {
    flex-shrink: 0;
}

.button {
    background: transparent;
    width: 32px;
    height: 32px;
    font-size: 18px;
    vertical-align: middle;
    border: 1px solid $primary-color;
    border-radius: 8px;
    margin-right: 8px;
    transition: .2s;
    
    &:hover {
        background: rgba($secondary-color, 0.7);
        border-color:  rgba($secondary-color, 0.7);
    }
    
    &:last-child {
        margin-right: 0;    
    }
}

.label {
    word-wrap: break-word;
    cursor: pointer;
    user-select: none;
}