@import '@/styles/main.scss';

.filter {
}

.filterItem {
    padding: 10px 20px;
    border: 1px solid gray;
    background: transparent;
    transition: .2s;

    &:first-child {
        border-radius: 4px 0 0 4px;
    }
    
    &:last-child {
        border-radius: 0 4px 4px 0;
    }

    &:hover {
        background: rgba($secondary-color, 0.5);
    }

    &_active {
        background: rgba($primary-color, 0.5);
    }
}