@import '@/styles/main.scss';

.form {
    display: flex;
    align-items: center;
}

.input {
    margin-right: 8px;
    padding: 10px 20px;
    border: 1px solid gray;
    border-radius: 8px;
    flex-grow: 1;
}

.button {
    padding: 10px 20px;
    background: transparent;
    border: 1px solid gray;
    border-radius: 8px;
    transition: .2s;
    font-weight: 700;

    &:hover {
        background: rgba($secondary-color, 0.5);
    }
}